/* Définition des variables couleurs*/
:root {
  --primary-color: #f0bb98; /*  */
  --btn-color: #b4e1e8; /*  */
  --hover-color: #efeeeed4; /*  */
  --form-color: #efeeee; /*  */
  --font-color: #fceac9; /*  */
  --text-color: #3b1320; /* couleur du texte */
  --white-color:white;

}

*{
  box-sizing: border-box;
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  /* font-size:  0.8rem; */

}
a{
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container{
  display: grid;
  min-height: 100vh;
  grid-template-areas: 'header ' 'main ' 'footer ';
  grid-template-rows: auto 1fr auto;
}
/* {
} */
/* En-tête */
header{
  grid-area: header;
  padding: 0 50px 0;
}
nav{
  width:  85%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;

}
nav ul a{
  color: var(--white-color);
  font-family: "Abril Fatface", serif;

}

footer,header{
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 112px;
  height: 67px;

}
.logo img, .footer-logo img{
  width: 100%;
  height: 100%;
  
}
main{
  grid-area: main;
}

/*register*/
.register-container{
  background-color: var(--font-color);
  height: auto;
  display: grid;
  gap: 2em;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
  padding-top: 2em;

  
}
.register-tab-container{
 /*  width: 90vw; Augmente si nécessaire */
  max-width: 1200px; /* Pour éviter qu'il prenne toute la largeur */
 /* margin: 0 auto;  Centre le tableau horizontalement */
 /*Modification Eunice*/
 margin-left: 100px;
 width: 70vw; 
  display: grid;
  grid-template-areas: 'title ' 'form';
  grid-template-rows: auto 1fr ;
  max-width: 100%; /* Empêche le débordement */
  box-sizing: border-box; /* Inclut le padding dans la largeur */


 
 


 
}
.form-title{
  margin-top: 1.3em;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2em;
}

.register-tab-title{
  display: flex;
  justify-content: start;
  gap: 10px;
  grid-area: title;
}
.register-tab-form{
  background-color: var(--white-color);
  border-radius:  0 0 15px 15px;
  grid-area: form;
  /* width: 100%; */
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  /*Eunice*/
  /*min-height: 500px; Augmente la hauteur */
  /* height: 400px; */
  /* display: flex; */
  flex-direction: column;
  position: relative;
  justify-content: flex-start; /* Aligne le contenu en haut */
  padding: 3em 2em; /* Ajoute de l'espace */
  width: 90%; /* Ajuste la largeur du conteneur */
  max-width: 1200px; /* Évite que le tableau soit trop large */
  margin: auto; /* Centre le tableau */
}
.register-tab-for-btn{
  width: 80%;
  display: flex;
  justify-content: center;
}
.register-container h1{
  font-family: "Abril Fatface", serif;
  text-align: center;
  font-size: 1.5em;
}

.register-tab-title-item{
  background-color: var(--form-color);
  padding: 7px;
  border-radius: 23px 23px 0 0;
  text-justify: auto;
  width: 130px;
  text-align: center;
  
}


.register-tab-form form{
  display: flex;
  flex-direction: column;
}

input[type="checkbox"]:checked,input[type="radio"]:checked {
  accent-color: var(--btn-color); 
  
}
button{
  background-color: var(--btn-color);
  padding: 7px 35px 7px;
  border: none;
  border-radius: 27px;
  margin-top: 2em;
  font-weight: bold;
  font-size: 1.3em;
  display: block;  /* Assure que les boutons sont en colonne */
    margin: 10px;  /* Ajoute un espace de 10px en bas de chaque bouton */


}
button:hover{
  cursor: pointer;
}

/* Pied de page */
footer{
grid-area: footer;
padding: 4px 15px 4px;
}
.footer-logo{
  width: 9em;
  height: 5em;
}
.inscription-group-item{
  display: flex;
  flex-direction: column;
}

.inscription-group-item-title{
  text-transform: uppercase;
  background-color: var(--primary-color);
  padding: 5px 2px 5px;
  margin: 5px;
  border-radius: 50px 50px;
  text-align: center;
  font-weight: 600;

}
.inscription-group-container{
  display: flex;
  flex-direction: column;
}

.inscription-group-days-container{
  display: flex;
  justify-content: space-around;
  padding: 0 3em 0;
}
.inactive {
  display: none !important;  /* Cache toutes les sections */
  border: solid 1px;

}
.active-section{
  background-color: var(--white-color);
}
.inscription-group-holiday-container{
  margin-top: 1em;
}
.holiday-item-title{
  font-weight:bold;
  margin-top: 1em;
  margin-bottom:5px ;
  font-weight: 600;

}
#section3 .register-tab-form-item{
  display: flex;
  justify-content: space-between;
}
.input-text{
  width: 30em;
  border: solid 2px var(--text-color);
  background-color: var(--form-color);

}
.input-text:focus{
  border: solid 3px var(--text-color);
}
.register-tab-holiday-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 0.5em 0.5em 1.3em;
  font-weight: 600;
  gap: 0.5em;
}
.form-interest{
    display: grid;
    grid-template-columns: auto auto auto auto auto;

}
.register-tab-form-item,.inscription-group-item{
  padding-left:  1.4em;
}
.download-file, .input-file{
  border: solid 1px var(--text-color);
  padding: 5px;
  background-color: var(--form-color);
  width:fit-content;
}
.download-file{
  font-weight: 100;
}

/* tables */
table {
  background-color: var(--form-color);
  width: 100%; /* Prend toute la largeur disponible */
  max-width: 100%; /* Empêche le débordement */
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
 
  
}
th, td {
  border: 2px solid  var(--font-color);
  padding: 10px;
}

th {
  background-color: var(--primary-color);
  color: white;
}
select{
  width: 456px;
}
.histo {
background-color: var(--btn-color);
 margin-top: 20px; 
padding: auto;

margin-bottom: auto;
font-weight: bold;
}
  .menu {
    padding: 20px;
    border-radius: 15px 0 0 15px; /* Coins arrondis */
    width: 250px; /* Largeur ajustée */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement entre les boutons */
    display: flex;
    flex-direction: column;
     /* border: 2px solid red; */
     position: absolute; /* Permet de positionner précisément */
     /*Pour alligner le menu àgauche*/
    left: 172px; /* Ajuste la distance par rapport au bord gauche */
    top: 140px; /* Ajuste la hauteur pour bien l'aligner */
 
  }
.menu-item {
  background-color: var(--hover-color);
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 30px; /* Coins bien arrondis */
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 15px 0 0 15px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Effet de relief */
}




/* Élément actif (sélectionné) */
.menu-item.active {
  background-color: var(--form-color);
}

/* Effet au survol */
.menu-item:hover {
  background-color: var(--hover-color);
}

/*Page Suvi médical*/
.somebody {
  padding-top: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}
.allergie {
  width: 70%;
  float: left;
  margin-left: 0; /* Assurez-vous qu'il commence bien à gauche */
 
  
}
.clearfix {
  clear: left;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.description {
  width: 200px;
  height: 20px;
 margin-left: 12px;
}

.nouveau-div {
 
    min-height: 150px; /* Minimum 250px mais peut grandir */
    height: auto; /* Ajuste la hauteur selon le contenu */
    background-color: var(--form-color);
    border-color: 2px solid black;


}

form:last-of-type table {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  table-layout: fixed; /* Force une répartition égale des colonnes */
}

form:last-of-type table th,
form:last-of-type table td {
    width: auto; /* S’adapte au contenu sans trop s’étaler */
    max-width: 150px; /* Empêche l’élargissement excessif */
    white-space: normal; /* Permet le retour à la ligne */
    word-wrap: break-word; /* Coupe les mots longs */
    font-size: 0.9em; /* Réduit légèrement la taille du texte */
    padding: 5px; /* Réduit l’espace autour du texte */
}


.form-g {
  display: grid;
  grid-template-columns: 150px 1fr; /* Colonne 1 : Label fixe, Colonne 2 : Textarea */
  align-items: center; /* Alignement vertical */
  gap: 10px; /* Espacement entre label et textarea */
  margin-bottom: 10px; /* Espacement entre les lignes */
}

.form-g label {
  width: 120px; /* Ajuster la largeur pour un bon alignement */
  font-weight: bold;
<<<<<<< HEAD
  text-align: right;
  margin-right: 10px;
  
  align-items: flex-start; /* Aligne le haut du label avec le textarea */
}
textarea {
  width: 300px;
  border: 1px solid black;
  padding: 5px;
  font-size: 14px;
}

.activite {
  border: 2px solid red;
}



/* Conteneur principal */
/* .intranet {
  display: flex;  
  justify-content: space-between; 
  align-items: center; 
  min-height: 70vh;
  border: 2px solid yellow;
  width: 1000px;
 
} */
 

.intranet {
  display: flex;
  justify-content: center;
  /* Espacement entre les blocs */
  flex: 1;
  text-align: center;
  
}

/* Style général des divs */
.box {
  background-color: white; /* Fond blanc */
  padding: 15px; /* Espace interne */
  border-radius: 15px; /* Coins arrondis */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  align-items: center;
  display: inline-block; /* Aligne les boîtes */
  vertical-align: top; /* Évite les décalages */
  margin: 10px; /* Espacement */
  padding-top: 70px;
  width: 700px; /* Remplir la largeur de leur parent */
  max-width: 800px; /* Optionnel : pour limiter la largeur */
  min-height: 500px; /* Hauteur minimale */
  
  
}




footer {
  position: fixed;
 
  width: 100%;
  background-color: #e6ad89;
  padding: 20px;
  text-align: right;
}



/* .left {
  background-color:var(--form-color);
}
.right {
  background-color:var(--form-color);
} */


.premier{
  background-color:var(--btn-color); /* Bleu clair */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  border: none;
  width: 80%;
  margin: 70px auto;
  font-weight: bold;
  width: 600px;
  height:70px;
  justify-content: center;

}

.deuxieme {
  background-color: #cbfcd9;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  width: 80%;
  margin: 5px auto;
  font-weight: bold;
  width: 600px;
  height:70px;
  margin: 70px auto;
}

.troisieme {
  background-color:var(--btn-color);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  width: 80%;
  margin: 5px auto;
  font-weight: bold;
  width: 300px;
  height:70px;
  display: inline-block;
  margin-top: 70px auto;
  
  
}


.quatrieme {
  background-color:var(--btn-color);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  width: 80%;
  margin: 5px auto;
  font-weight: bold;
  width: 300px;
  height:70px;
  display: inline-block;
  margin: 30px auto;
}

.payer {
  background-color: #f4b183; /* Bouton spécial (orange clair) */
}

.cinquieme {
  background-color: #cbfcd9;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  width: 80%;
  margin: 5px auto;
  font-weight: bold;
  width: 600px;
  height:70px;
  margin: 30 auto;
}

.sixieme {
  background-color:var(--btn-color);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  width: 80%;
  margin: 5px auto;
  font-weight: bold;
  width: 600px;
  height:70px;
  
  
}

.questionnaire {
  background-color: var(--primary-color); /* Orange clair */
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.emploidutemps {
  text-align: right;
  margin: 50px auto;

}

=======
  font-size: 1.2em;
}*/
/*Profil*/
.containbox{
  background-color: var(--white-color);
  border-radius: 20px;
  width: 60%;
  margin: 3% auto;
  padding: 2%;
}
.profil{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.profil.info{
  background-color: var(--primary-color);
  width: 80%;
  border-radius: 30px;
  padding: 3%;
}
#modifProfil{
  display: block;
  margin: 1em auto;
}
.InfoModif{
  display: block;
  margin: auto;
}
>>>>>>> efc04988d1066008c2b48fb06ae226e4c530af4c

/*Responsive*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}